<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News in UK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--For loop for the data array and displaying its contents-->
      <ion-card *ngFor="let ukstory of NewsStoriesUK">
        <ion-card-header>
          <ion-card-title>{{ukstory.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ukstory.content}}
        </ion-card-content>
      </ion-card>
  
</ion-content>